h1 {
	text-align: center;
	font-size: 40px;
}

.topbar, .welcome {
	display:-webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
}

p {
	background-color: orange;
	color: whtie;
	padding: 15px 20px;
}

